.shopping-mall {
    bottom: 20px;
    font-variant: small-caps;
}

.shopping-mall > h1 {
    font-family: Impact, sans-serif;
    font-size: 50px;
    color: white;
    letter-spacing: 0.3px;
    text-shadow: 0 0 2px black;
    margin: 0;
}

.shopping-mall > h5 {
    letter-spacing: 0.5px;
    font-size: 14px;
}